<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-e1aa37.css"
            crossorigin
            integrity="sha384-Csigt/q9d6SDY+uagkFGMZFo7la2Z4DwcOlm2VnBJrtsi5PN2qY1kiki7tsZ2JnU"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-cb5127.js"
            crossorigin
            integrity="sha384-Gfzmg/37+WdxGA3iw2k2/GaeiotI8p9jeSL/GBxyG6mSiyqsRNfgEEroGYvJ3O9b"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-3c4216.js"></script>
        <script src="../../assets/vendor-fkui-logic-9a9628.js"></script>
        <script src="../../assets/vendor-fkui-date-a266d1.js"></script>
        <script src="../../assets/vendor-fkui-vue-32af5a.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-a9d4e0.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-750e27.js"
            crossorigin
            integrity="sha384-OFeTlDwAWdaxD9Xg0Nb7Ye5fxgQNrKvHBS8QwUXcDrVABvzfhJps03CoKwbaqB9R"
            
        ></script> 
        <div id="example-bdafc4"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-bdafc4.js"></script>
    
    </body>
</html>
