$RATING_SELECTOR: ".rating" !default;

#{$RATING_SELECTOR} {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    &__button {
        padding: 0;
        background-color: inherit;
        border: none;

        &__icon {
            width: 2rem;
            height: 2rem;
            fill: lightgray;
            cursor: pointer;

            &--filled {
                fill: brown;
            }
        }
    }
}
