@use "@fkui/css-variables/dist/fkui-exp-css-variables";
@use "@forsakringskassan/docs-live-example/dist/main";
@use "@fkui/custom-partner-design";
@use "@forsakringskassan/docs-generator/style";

:root {
    --f-border-color-menu-horizontal-hover: hotpink;
    --f-border-color-menu-horizontal-highlight: hotpink;
    --highlight-color: hotpink;
    --f-color-brand-a-strong: hotpink;
}
header {
    .page-header__logo--small {
        background: hotpink;
        border-radius: 50%;
        box-shadow: 0.2rem 0.2rem 0 0 rgb(202, 84, 143);
    }
    .page-header__app-name {
        color: hotpink;
    }
}

.navigation {
    --highlight-color: hotpink;
}
