@use "@fkui/theme-default";
@use "@forsakringskassan/docs-live-example/dist/main";
@use "@fkui/user-lib-design";
@use "@forsakringskassan/docs-generator/style";

:root {
    --docs-topnav-border-color-hover: #6e0e50;
    --docs-topnav-border-color-highlight: #6e0e50;
    --highlight-color: #6e0e50;
    --f-color-brand-a-strong: #6e0e50;
}

header {
    .page-header__logo--small {
        background: #6e0e50;
        border-radius: 50%;
        box-shadow: 0.2rem 0.2rem 0 0 #28051d;
    }
    .page-header__app-name {
        color: #6e0e50;
    }
}

.navigation {
    --highlight-color: #6e0e50;
}
