<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-f3ab5e.css"
            crossorigin
            integrity="sha384-zmscNKon89PYlWXVAdbabX0ewOZ6ULBlvdQVgtIlEkQY493TUjXedWIgmzFskSMf"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-fd7b76.js"></script>
        <script src="../../assets/vendor-fkui-logic-08b59a.js"></script>
        <script src="../../assets/vendor-fkui-date-04ec7a.js"></script>
        <script src="../../assets/vendor-fkui-vue-bf4798.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-490176.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-c9e63d.js"
            crossorigin
            integrity="sha384-uh+ac4A2qXJiZO47445jcHHKn72ma2LivGB4Rf+vG/BieE+m6FAxbjeRrB4kpyq5"
            
        ></script> 
        <div id="example-fcb828"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-fcb828.js"></script>
    
    </body>
</html>
