<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Datumväljare 2 - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-1fbff7.css"
            crossorigin
            integrity="sha384-pbjA86zf6y0Yb87WnXfOEmME4+Id9DMSdVwqdq6gqNDAdFx61ALaerA6Rl0vp3Cs"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-2b3203.js"></script>
        <script src="../../assets/vendor-fkui-logic-d4ac67.js"></script>
        <script src="../../assets/vendor-fkui-date-2c3039.js"></script>
        <script src="../../assets/vendor-fkui-vue-03160c.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-3d7c23.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-f282be.js"
            crossorigin
            integrity="sha384-Y07yhbm//cbsvmwmdE1wW12qwaoRcpNzZHccBkbxxFwKndMFrKpUOV6p8RZznCZH"
            
        ></script> 
        <div id="example-d2db6b"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FooExample-d2db6b.js"></script>
    
    </body>
</html>
