<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Datumväljare 2 - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-5d51ee.css"
            crossorigin
            integrity="sha384-AgdEntnRige8LkTIrV+EkgwR3JeR7aHVEw46EsssLKQh8le9uF7N5olCrn08mpax"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-e1237a.js"></script>
        <script src="../../assets/vendor-fkui-logic-169273.js"></script>
        <script src="../../assets/vendor-fkui-date-e971e7.js"></script>
        <script src="../../assets/vendor-fkui-vue-fdd454.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-f650b2.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-acb81a.js"
            crossorigin
            integrity="sha384-T98vkVAJ8u3AdOCQnlWHurKL3iBYTdMjvynbNnRX2eW6Iq/NzNUH3qnGYHrqlo26"
            
        ></script> 
        <div id="example-2f06cc"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FooExample-2f06cc.js"></script>
    
    </body>
</html>
