<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-b79364.css"
            crossorigin
            integrity="sha384-AXL49jNid5CzXur6GrkjgkVPOCLVsdiAeRo7+jaa/8wTfGM2kJRkDtp8l4ROHTh1"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-cb5127.js"
            crossorigin
            integrity="sha384-Gfzmg/37+WdxGA3iw2k2/GaeiotI8p9jeSL/GBxyG6mSiyqsRNfgEEroGYvJ3O9b"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../search-data-06b256.json"
    as="fetch"
    crossorigin
    integrity="sha384-qaBAlzIGSsHDox8dz31ua95Uys2OCBu/5PckvJuxGzm5ExvJGcuTMFdCPljN7hZ6"
    id="search-data"
/>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-013b25.js"></script>
        <script src="../../assets/vendor-fkui-logic-cb8d8f.js"></script>
        <script src="../../assets/vendor-fkui-date-f4a31d.js"></script>
        <script src="../../assets/vendor-fkui-vue-58e155.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-0274ad.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-4d5b41.js"
            crossorigin
            integrity="sha384-UxXhE+Ggkk+Qn0U0mi02/XFRPA2NUWaxbeiMzctZcTVITyDxH1a8oUAqa6ccgX6e"
            
        ></script> 
        <div id="example-bdafc4"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-bdafc4.js"></script>
    
    </body>
</html>
