<!doctype html>
<html lang="sv" class="layout--component" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title><link
            rel="stylesheet"
            href="../../assets/docs-c3c328.css"
            crossorigin
            integrity="sha384-WHjmR/9NkAT2K1GvgVIaUIVQQ+zlMegdtGu1cy68k2m5mja2my1HjdTevTnJJszK"
            
        />

        <script type="importmap">
            {
  "imports": {
    "vue": "../../assets/vendor-vue-eeaa04.js",
    "@fkui/logic": "../../assets/vendor-fkui-logic-08b59a.js",
    "@fkui/date": "../../assets/vendor-fkui-date-04ec7a.js",
    "@fkui/vue": "../../assets/vendor-fkui-vue-282bb8.js",
    "@forsakringskassan/docs-live-example": "../../assets/vendor-forsakringskassan-docs-live-example-490176.js"
  },
  "integrity": {
    "../../assets/vendor-vue-eeaa04.js": "sha384-niHeQjJesDxqCZVLRw+b1jSeb4Oo9ISr8WIrDN8jjH/LIc0NCxnTEQ7COvyqJWGJ",
    "../../assets/vendor-fkui-logic-08b59a.js": "sha384-jQrJ7Zqwr8M5zTNuNPexsBKTrz7hDyntO+iepkd37Apgib/O0AZ6QG8A5vhmdVoD",
    "../../assets/vendor-fkui-date-04ec7a.js": "sha384-8jnRzuNJeidcaWg7w3bZrAzrtN6C+zzmLuiJGZZOnLIhEt0FxCI2C9xAUY5Y2lsu",
    "../../assets/vendor-fkui-vue-282bb8.js": "sha384-usZmGbV4C1HfKTdCepWZINu6Ftxo9iuOKFv7f080bXEStkgPj8vB5tGdAXjbF1re",
    "../../assets/vendor-forsakringskassan-docs-live-example-490176.js": "sha384-/v3n/0H1sIb8t3Tn+eyyHueaZt6RCBTg63XYg6BQGL5dpZPe3bsTaBTch2RtlT0X"
  }
}
        </script><script
            src="../../assets/bootstrap-5b0e6e.js"
            
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script><link
            rel="preload"
            href="../../search-data-06b256.json"
            as="fetch"
            crossorigin
            integrity="sha384-qaBAlzIGSsHDox8dz31ua95Uys2OCBu/5PckvJuxGzm5ExvJGcuTMFdCPljN7hZ6"
            id="search-data"
        />
    </head>
    <body><div class="layout-wrapper">
            <header><div class="page-header__root">
    <div class="page-header">
        <a class="page-header__logo" href="../../index.html">
            <span aria-label="Användaranpassat DS" role="img" class="page-header__logo--small"> </span>
        </a>
        <a class="page-header__app-name" href="../../index.html"> Användaranpassat DS </a>
        <div class="page-header__right"><nav id="topnav" class="docs-topnav" aria-label="Primär">
    <ul class="docs-topnav__list"><li class="docs-topnav__item highlight">
            <a class="docs-topnav__anchor" href="../"> Komponenter </a>
        </li>
        
        
        
        
        <li class="docs-topnav__item ">
            <a class="docs-topnav__anchor" href="../../style/"> Visuellt </a>
        </li>
        <li class="docs-topnav__item docs-topnav__item--more" style="visibility: hidden">
            <button type="button" class="docs-topnav__anchor" aria-expanded="false">
                <span>Mer</span>
                <svg class="icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#docs-icon-arrow-down"></use>
                </svg>
            </button>
            <div class="docs-contextmenu">
                <ul class="docs-contextmenu__list"><li class="docs-contextmenu__item highlight" style="display: none">
                        <a class="docs-contextmenu__anchor" href="../"> Komponenter </a>
                    </li>
                    
                    
                    
                    
                    <li class="docs-contextmenu__item " style="display: none">
                        <a class="docs-contextmenu__anchor" href="../../style/"> Visuellt </a>
                    </li>
                    </ul>
            </div>
        </li>
    </ul>
</nav>

            <div class="page-header__right-slot">
                <div class="toolbar"><div class="toolbar__item">
    <form id="search" role="search">
        <button class="text-field__input" type="submit">
            <svg focusable="false" class="icon button__icon">
                <use xlink:href="#docs-icon-search"></use></svg
            >Sök <kbd>ctrl-k</kbd>
        </button>
    </form>
</div>
</div>
            </div>
        </div>
    </div>
</div>
</header>

            <div id="primary"><div id="sidenav">
<input type="checkbox" class="sidenav__toggle" aria-label="Open/close navigation" />
<nav class="navigation" aria-label="Sekundär">
<ol><li class="expandable active">
        <details open>
            <summary>Egna komponenter</summary>
            
            
<ol><li class="link active">
        <a
            href="./crating.html"
            
            
            
            data-path="components/custom/crating.html"
            
        >
            Betyg
        </a>
    </li><li class="link ">
        <a
            href="./cratingmodal.html"
            
            
            
            data-path="components/custom/cratingmodal.html"
            
        >
            Betygsmodal
        </a>
    </li></ol>

            
        </details>
    </li><li class="expandable ">
        <details >
            <summary>FKDS</summary>
            
            
<ol><li class="link ">
        <a
            href="../fkds/fdatepickerfield.html"
            
            
            
            data-path="components/fkds/fdatepickerfield.html"
            
        >
            Datumväljare
        </a>
    </li><li class="link ">
        <a
            href="../fkds/foo.html"
            
            
            
            data-path="components/fkds/foo.html"
            
        >
            Datumväljare 2
        </a>
    </li></ol>

            
        </details>
    </li></ol>
</nav>
</div><main>
                    <!-- [html-validate-disable-next heading-level, no-unused-disable -- allowed sectioning root] -->
                    <h1 id="title">Betyg</h1>

                    
                    <div id="aside"><dl>
    
    <dt>Komponent</dt>
    <dd>
        <div class="docs-badge-list">
            
            
            <div class="docs-badge docs-badge--component">
                CRating
            </div>
            
            
        </div>
    </dd>
    

    
    <dt>Status</dt>
    <dd>
        <div class="badge badge--error">Experimentell</div>
    </dd>
    
</dl>


                        
                        <details id="outline">
                            <summary class="outline__heading">Innehåll</summary>
                            <ul>
                                
                                <li><a href="#tank_pa_att">Tänk på att</a></li>
                                
                                <li><a href="#api">API</a></li>
                                
                            </ul>
                        </details>
                        
                    </div>
                    

                    <div id="content"><p class="docs-paragraph">Sätt betyg med hjälp av köttbullar.</p>

                <div
                    id="example-f367c2"
                    class="code-preview code-preview--borderless"
                    
                    data-tags="live-example"
                    data-language="vue"
                >
                    
        <div id="example-fcb828"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-fcb828.js"></script>
    
                </div>
            <h2 id="tank_pa_att"><a class="header-anchor" href="#tank_pa_att">Tänk på att</a></h2><p class="docs-paragraph">Glöm inte att komplettera med ketchup, pasta och kanske lite grönsaker.</p>
<h2 id="api"><a class="header-anchor" href="#api">API</a></h2>
        <h3 id="c-rating-props">
            <a class="header-anchor" href="#c-rating-props">Props</a>
        </h3>
        <dl class="docs-api docs-api--slots">
            
                        <dt>
                            <code id="c-rating-prop-id"
                                ><a class="docs-api__anchor" href="#c-rating-prop-id"
                                    ><span class="docs-api__name"
                                        >id</span
                                    >: string</a
                                ></code
                            >
                            <span class="docs-tag docs-tag--default">Optional</span>
                            
                        </dt>
                        <dd>
                            &#8208;
                            <p class="doc-api__item">Default: <code>() =&gt; ElementIdService.generateElementId()</code></p>
                            
                        </dd>
                    
                        <dt>
                            <code id="c-rating-prop-count"
                                ><a class="docs-api__anchor" href="#c-rating-prop-count"
                                    ><span class="docs-api__name"
                                        >count</span
                                    >: number</a
                                ></code
                            >
                            <span class="docs-tag docs-tag--default">Optional</span>
                            
                        </dt>
                        <dd>
                            &#8208;
                            <p class="doc-api__item">Default: <code>5</code></p>
                            
                        </dd>
                    
        </dl>
    
        <h3 id="c-rating-slots">
            <a class="header-anchor" href="#c-rating-slots">Slots</a>
        </h3>
        <dl class="docs-api docs-api--slots">
            
                        <dt>
                            <code id="c-rating-slot-default"
                                ><a class="docs-api__anchor" href="#c-rating-slot-default"
                                    ><span class="docs-api__name"
                                        >default</span
                                    ></a
                                ></code
                            >
                            
                        </dt>
                        <dd>
                            &#8208;
                            
                            
                            
                            
                        </dd>
                    
        </dl>
    

                    </div>
                </main>
            </div>

            <footer><div class="docs-footer">
    <ul class="docs-footer__link-list">
        <li><a class="anchor" href="../../changelog.html">Changelog</a></li>
    </ul>

    <div class="docs-footer__content"></div>
</div>
</footer>
        </div><div aria-hidden="true" style="display: none">
    <svg xmlns="http://www.w3.org/2000/svg" focusable="false">
        <symbol id="docs-icon-search" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
                fill="currentColor"
                d="M505 442.7 405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34M208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128"
            ></path>
        </symbol>
        <symbol id="docs-icon-close" viewBox="0 0 512 512">
            <path
                fill="currentColor"
                d="m322.72 256 100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L256 189.28 155.93 89.21c-12.28-12.28-32.19-12.28-44.48 0l-22.24 22.24c-12.28 12.28-12.28 32.19 0 44.48L189.28 256 89.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L256 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48z"
            ></path>
        </symbol>
        <symbol id="docs-icon-arrow-down" viewBox="0 0 512 512">
            <path
                fill="currentColor"
                d="M239.373 380.982 45.03 186.638c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04l154.746 154.021L411.089 129.99c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L273.315 380.982c-9.373 9.372-24.569 9.372-33.942 0"
            ></path>
        </symbol>
        <symbol id="docs-icon-circle" xml:space="preserve" viewBox="0 0 512 512">
            <path
                d="M489.5 256c0 129-104.6 233.5-233.5 233.5C127 489.5 22.5 385 22.5 256S127 22.5 256 22.5 489.5 127 489.5 256"
                style="fill: currentColor"
            ></path>
            <path
                d="M512 256c0 141.4-114.6 256-256 256S0 397.4 0 256 114.6 0 256 0s256 114.6 256 256M256 469.3c117.8 0 213.3-95.5 213.3-213.3S373.8 42.7 256 42.7 42.7 138.2 42.7 256 138.2 469.3 256 469.3"
                style="fill-rule: evenodd; clip-rule: evenodd"
            ></path>
        </symbol>
        <symbol id="docs-icon-i" xml:space="preserve" x="0" y="0" version="1.1" viewBox="0 0 512 512">
            <style>
                .i {
                    fill: currentColor;
                }
            </style>
            <path
                d="M228.25 243.12c0-15.33 12.42-27.75 27.75-27.75s27.75 12.43 27.75 27.75v117.19c0 15.33-12.43 27.75-27.75 27.75-15.33 0-27.75-12.43-27.75-27.75zM285.09 153.03c0 16.07-13.02 29.09-29.09 29.09s-29.09-13.02-29.09-29.09 13.02-29.09 29.09-29.09 29.09 13.02 29.09 29.09"
                class="i"
            ></path>
        </symbol>
    </svg>
</div><dialog id="search-dialog">
    <!-- [html-validate-disable-next wcag/h32 -- handled via script] -->
    <form id="search-form">
        <div class="text-field">
            <label for="search-field" class="label">Sök</label>
            <div class="text-field__input-wrapper">
                <div class="text-field__icon-wrapper">
                    <input
                        autofocus
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        id="search-field"
                        type="text"
                        class="text-field__input"
                        maxlength="50"
                        placeholder="Skriv för att börja söka"
                    />
                </div>
            </div>
        </div>
        <div id="search-results"></div>
        <p><kbd>Esc</kbd> för att stänga <kbd>Pil upp/ner</kbd> för att navigera <kbd>Enter</kbd> för att välja</p>
    </form>
</dialog><script
            src="../../assets/main-c9e63d.js"
            type="module"
            crossorigin
            integrity="sha384-uh+ac4A2qXJiZO47445jcHHKn72ma2LivGB4Rf+vG/BieE+m6FAxbjeRrB4kpyq5"
            
        ></script>
    </body>

    <!--

         Source file: docs/components/custom/CRating.md
         Document ID: fs:docs/components/custom/CRating.md
         Document name: CRating
         Document alias: component:CRating

    -->
</html>
