<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Datumväljare 2 - Användaranpassat designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-10b74f.css"
            crossorigin
            integrity="sha384-8o2B/2qprosU4tT9txCDZWf4aFLPMOtqhMpNUJEf0DziOspx05GQaQefKvR/uUdn"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-956ec3.js"
            crossorigin
            integrity="sha384-xxAJqJoQn4hXyrxMhtQL+Vf9cvR79mtI9cjQwcm4awdJR3rcJZo1/+24cjUnFmfe"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-53c889.js"></script>
        <script src="../../assets/vendor-fkui-logic-3f7e45.js"></script>
        <script src="../../assets/vendor-fkui-date-af9659.js"></script>
        <script src="../../assets/vendor-fkui-vue-3ccdbf.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-caabe5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-a1b1ae.js"
            crossorigin
            integrity="sha384-tZf1XAMSeMjmrLXADLN+Fo4ssyrH9A31K05zYjvtQhcQW9or64ycYfixqcTJium1"
            
        ></script>

        <main>
        <div id="FooExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./FooExample-d83037.js"></script>
    </main>
    </body>
</html>
