<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Datumväljare 2 - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-b9bdfe.css"
            crossorigin
            integrity="sha384-4H8P7/rJEfVxrn6OO65Ss9Ad0Uef4yjTYM06yye7Nw3TZrA/vF7bVFJg1g+ISgaX"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-fd23ba.js"></script>
        <script src="../../assets/vendor-fkui-logic-15d1db.js"></script>
        <script src="../../assets/vendor-fkui-date-952753.js"></script>
        <script src="../../assets/vendor-fkui-vue-f3cb6e.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-8aa7b5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-f09398.js"
            crossorigin
            integrity="sha384-Ulv9wek04X5S1fLZV4hTHfG87l1KIP9nyq93/Qn2sCbmc9O8UsCMYGjuYfNRZ6mq"
            
        ></script> 
        <div id="example-4bbbf4"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FooExample-4bbbf4.js"></script>
    
    </body>
</html>
