<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-049f25.css"
            crossorigin
            integrity="sha384-59Z/JaXkOUem3eUsGqo2kk7jcpxesLnUB3KRSei+tvwwbxwbLe/asLdX7bQ/8tfv"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-fd23ba.js"></script>
        <script src="../../assets/vendor-fkui-logic-795045.js"></script>
        <script src="../../assets/vendor-fkui-date-952753.js"></script>
        <script src="../../assets/vendor-fkui-vue-9d22fd.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-3d7c23.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-3a4474.js"
            crossorigin
            integrity="sha384-aqGJrcl/rSvJgp5SBBuhdpjw6TMfIDhxVTSSb4R75Zo95p95KgX6WEr51ddvkf5f"
            
        ></script> 
        <div id="example-8636c8"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-8636c8.js"></script>
    
    </body>
</html>
