<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betygsmodal - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-1cf342.css"
            crossorigin
            integrity="sha384-xLS6GYEMVisZxan86AsLLQmavWci9bWaFKyhfJjIHJ7M7fX5UCFB6fghZQj3+24b"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-f965e7.js"></script>
        <script src="../../assets/vendor-fkui-logic-f17523.js"></script>
        <script src="../../assets/vendor-fkui-date-3e017a.js"></script>
        <script src="../../assets/vendor-fkui-vue-5a93fb.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-8aa7b5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-f09398.js"
            crossorigin
            integrity="sha384-Ulv9wek04X5S1fLZV4hTHfG87l1KIP9nyq93/Qn2sCbmc9O8UsCMYGjuYfNRZ6mq"
            
        ></script> 
        <div id="example-04e9c7"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingModalExample-04e9c7.js"></script>
    
    </body>
</html>
