<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-4c64b3.css"
            crossorigin
            integrity="sha384-CHdToiMRvPieaJMVOfOxhJ/iryixKo/ovTiIohdppCPo3DWNLPQePtAKr86QiSEb"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-956ec3.js"
            crossorigin
            integrity="sha384-xxAJqJoQn4hXyrxMhtQL+Vf9cvR79mtI9cjQwcm4awdJR3rcJZo1/+24cjUnFmfe"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-468cb1.js"></script>
        <script src="../../assets/vendor-fkui-logic-11c2ee.js"></script>
        <script src="../../assets/vendor-fkui-date-d26c4e.js"></script>
        <script src="../../assets/vendor-fkui-vue-006e9e.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-97d1d8.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-0a6267.js"
            crossorigin
            integrity="sha384-KGg8cx40qSGGH4cF6MiyGZrRw2tcj/vGlPAU1o5o7mC4J+fmDwJyD/GIT536RTIL"
            
        ></script> 
        <div id="CRatingLiveExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./CRatingLiveExample-7fbcb9.js"></script>
    
    </body>
</html>
