<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Betyg - Användaranpassat DS</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-cbca2e.css"
            crossorigin
            integrity="sha384-OgQlSfvUE1O4Ig1/EGvFXaBIC5u+0lGgiLC+339j2YQvRyuSlPW5rVxqoUraKESs"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-cb5127.js"
            crossorigin
            integrity="sha384-Gfzmg/37+WdxGA3iw2k2/GaeiotI8p9jeSL/GBxyG6mSiyqsRNfgEEroGYvJ3O9b"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-dd241e.js"></script>
        <script src="../../assets/vendor-fkui-logic-9a9628.js"></script>
        <script src="../../assets/vendor-fkui-date-a266d1.js"></script>
        <script src="../../assets/vendor-fkui-vue-869926.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-f3f4a6.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/main-05799d.js"
            crossorigin
            integrity="sha384-6kC+INT9z9CXW5qku0dcu5ru5iuubQe6LZ0SeZ6KPG62ZBq11chFFBb43RZjuU+D"
            
        ></script> 
        <div id="example-bdafc4"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./CRatingLiveExample-bdafc4.js"></script>
    
    </body>
</html>
