name: Build

on: [push, pull_request]

permissions:
    contents: read
    checks: write

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install dependencies
              run: npm ci
            - name: Build packages
              run: npm run build
            - name: Build documentation
              run: npm run build:docs
            - name: Tests
              run: |
                  npm pkg delete scripts.pretest
                  npm test
            - name: Publish test results
              if: github.event_name == 'push' && (success() || failure())
              uses: mikepenz/action-junit-report@v6
              with:
                  report_paths: "packages/*/test-results/jest-junit.xml"
                  include_passed: true
                  check_name: Jest

    cypress-ct:
        name: Cypress Component Tests
        runs-on: ubuntu-latest
        if: false
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install dependencies
              run: npm ci
            - name: Build (minimal)
              run: npm run build
            - name: Cypress Component Testing
              uses: cypress-io/github-action@v6
              with:
                  summary-title: "Component tests"
                  browser: chrome
                  component: true
                  quiet: true
            - uses: actions/upload-artifact@v7
              if: always()
              with:
                  name: cypress-screenshots
                  path: cypress/screenshots
                  if-no-files-found: ignore
