name: Deploy PR previews

concurrency: preview-${{ github.ref }}

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed

permissions:
    contents: write
    pull-requests: write

jobs:
    deploy-preview:
        if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install and build
              if: github.event.action != 'closed'
              run: |
                  npm ci
                  npm run build
                  npm run build:docs
            - uses: rossjrw/pr-preview-action@v1
              id: preview
              with:
                  source-dir: ./public/
                  preview-branch: gh-pages
                  umbrella-dir: pr-preview
                  action: auto
